*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1300px;
    height: 900px;
}
.card {
    background-color: rgb(194, 220, 241);
    border-radius: 15px;
    padding: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;

}

.card__img {
    height: 250px;
    width: 700px;
    margin-right: 20px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    
   
}

.card__text{
    font-family: 'Times New Roman', Times, serif;
}
.card__linkTitle{
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
}
.card__extract{
    font-size: 20px;
    text-align: justify;
}

.button
{
    border: none;
    min-width: 100px;
    height: 50px;
    padding: 0 30px;
    background: dimgrey ;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s ease all; 
}

.phrbutton{
text-align: center;
margin:70px 0 ;
}
.phrbutt__text {
    margin-bottom: 20px;
    font-size: 30px;
    font-family:sans-serif;
    font-weight: 600;
    font-style: italic;
}
.button--absolute {
    position: absolute;
    right: 20px;
    bottom: -25px;
}
.button--absolute:hover {
    background: rgb(43, 49, 49);
}

.button--buyItem{
    background: rgb(112, 173, 19);
    text-align: center;
}
.button--buyItem:hover {
    background: rgb(10, 126, 10);
}